.footer {
  background-color: #121212; /* escuro como o resto do site */
  color: #fff;
  padding: 60px 20px 30px 20px;
  font-family: 'Arial', sans-serif;
}

.footer__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer__section {
  flex: 1 1 250px;
  margin: 15px;
}

.footer__section h4 {
  color: #cb6e0b;
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.footer__section p {
  color: #ccc;
  font-size: 0.95rem;
  line-height: 1.5;
}

.footer__list {
  list-style: disc;
  padding-left: 20px;
  margin: 0;
}

.footer__list li {
  margin-bottom: 8px;
}

.footer__list li::marker {
  color: #cb6e0b;
}

.footer__socials {
  margin-top: 15px;
}

.footer__socials a {
  margin-right: 10px;
  display: inline-block;
}

.footer__socials img {
  width: 28px;
  height: 28px;
  filter: brightness(0) invert(1);
  transition: transform 0.3s;
}


.footer__bottom {
  text-align: center;
  border-top: 1px solid #333;
  padding-top: 20px;
  margin-top: 40px;
  color: #777;
  font-size: 0.9rem;
}


@media (max-width: 768px) {
  .footer__content {
    flex-direction: column;
    align-items: center;
  }
  .footer__section {
    margin: 15px 0;
    text-align: center;
  }
  .footer__socials {
    justify-content: center;
  }
}
