<footer class="footer">
  <div class="footer__content">

    <div class="footer__section">
      <h4>SOBRE O SOMBRA</h4>
      <p>
        O Sombra Videomaker valoriza os detalhes dos produtos e das marcas através de conteúdos audiovisuais mobile, tornando sua imagem muito mais autêntica e impactante.
      </p>
    </div>

    <div class="footer__section">
      <h4>SERVIÇOS</h4>
      <ul class="footer__list">
        <li>Análise de Perfil</li>
        <li>Produção de Conteúdo</li>
        <li>Captação e Edição</li>
      </ul>
    </div>

    <div class="footer__section">
      <h4>CONTATO</h4>
      <ul class="footer__list">
        <li>Email: videomakersombra@gmail.com</li>
        <li>Telefone: (54) 993396802</li>
        <li>Soledade, RS</li>
      </ul>
      <div class="footer__socials">
        <a href="https://www.instagram.com/sombra_videomaker/"><img src="assets/nav__wpp__branco.png" alt="Instagram"></a>
        <a href="https://www.tiktok.com/@sombra_videomaker?_r=1&_t=ZS-93oRncL7Z9r"><img src="assets/nav__tiktok__branco.png" alt="TikTok"></a>
        <a href="https://wa.me/5554993396802?text=Ol%C3%A1!%20Queria%20saber%20mais%20sobre%20o%20Sombra%20Videomaker!"><img src="assets/nav__whats__branco.png" alt="WhatsApp"></a>
      </div>
    </div>

  </div>

  <div class="footer__bottom">
    <p>© 2026 <a href="https://omunizdev.vercel.app" target="_blank">Bruno Munizz</a>. Todos os direitos reservados.</p>
  </div>
</footer>
