<nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
  <div class="container">

    <a class="navbar-brand" href="#">
      <img src="assets/nav__logo__branco.png" class="nav__logo" />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarContent"
      aria-controls="navbarContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse justify-content-center"
      id="navbarContent"
    >
      <ul class="navbar-nav align-items-center gap-lg-5 text-center">

        <li class="nav-item">
          <a class="nav-link" href="#topo">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#sobre">SOBRE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#parceiros">ASSINANTES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#servicos">SERVIÇOS</a>
        </li>

        <div class="divider d-none d-lg-block"></div>

        <div class="d-flex gap-3 mt-3 mt-lg-0">
          <a href="https://www.instagram.com/sombra_videomaker/" target="_blank">
            <img src="assets/nav__wpp__branco.png" height="24">
          </a>
          <a href="https://www.tiktok.com/@sombra_videomaker" target="_blank">
            <img src="assets/nav__tiktok__branco.png" height="24">
          </a>
          <a href="https://wa.me/555493396802" target="_blank">
            <img src="assets/nav__whats__branco.png" height="24">
          </a>
        </div>

      </ul>
    </div>

  </div>
</nav>
