.custom-navbar {
  background: #161a1d;
  height: 100px;
  width: 100%;
  z-index: 100;
}

.nav__logo {
  height: 64px;
}

.nav-link {
  color: whitesmoke !important;
  font-family: Tahoma;
  font-size: 20px;
  position: relative;
  border-bottom: none !important;
}



.nav-link::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 0;
  height: 1px;
  background: white;
  transition: width 0.3s ease;
}

.nav-link:hover {
  color: rgb(187, 183, 183) !important;
}

.nav-link:hover::after {
  width: 100%;
}

.divider {
  width: 1px;
  height: 24px;
  background: rgba(243, 241, 241, 0.3);
}

@media (max-width: 991px) {
  .navbar-collapse {
    background-color: #161a1d;
    padding: 1.5rem 0;
  }
}
