.hero {
  background: url('/assets/bg.png') center / cover no-repeat;
  width: 100%;
  height: 80svh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid #161a1d;
  position: relative;
}
.text-gradient {
  font-family: Tahoma, sans-serif;
  font-weight: 600;

  background: linear-gradient(
    90deg,
    #FF9F1C 0%,
    #FF9F1C 30%,
    #111111 40%,
    #000000 50%,
    #111111 60%,
    #FF9F1C 75%,
    #FF9F1C 100%
  );

  background-size: 400% 100%;
  background-position: 0% 0%;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  transition: background-position 1.4s cubic-bezier(0.76, 0, 0.24, 1);
}


  .hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
  }

  .hero-content {
    position: relative;
    text-align: center;
    max-width: 85%;
    padding: 0 2rem;
  }

  .hero__titulo {
    color: #fff;
    font-family: Tahoma;
    font-size: 64px;
  }

  .hero__paragrafo {
    color: #c8c5c5;
    font-family: Tahoma;
    font-size: 24px;
    margin-top: 1.5rem;
  }


  @media (max-width: 1024px) {
    .hero__titulo {
      font-size: 48px;
    }
  }

  @media (max-width: 768px) {
    .hero {
      height: 60svh;
    }

    .hero__titulo {
      font-size: 32px;
    }

    .hero__paragrafo {
      font-size: 16px;
    }
  }

