<section id="hero" class="hero">
  <div class="hero-content" data-aos="fade-up">
    <h1 class="hero__titulo">
      SEJA DIFERENTE, SEJA
      <span class="text-gradient"></span>
    </h1>

    <p class="hero__paragrafo" data-aos="fade-up">
      O Sombra Videomaker iniciou em Soledade, com o propósito de valorizar
      os detalhes dos produtos e das marcas através do conteúdo audiovisual
      mobile. Sempre fazendo o seu material muito mais artístico e criativo,
      mostrando a essência do seu trabalho e tornando sua imagem muito mais
      autêntica!
    </p>
  </div>
</section>
