<section id="servicos">
  <h2 class="servicos__titulo">SERVIÇOS</h2>

  <div class="servicos__cards" data-aos="custom-card">
    <div class="servico__card">
      <div class="card__box">
      <img class="servico__icon" src="assets/cerebro_icon.png" alt="">
      </div>
      <h3>Produção de Conteúdo</h3>
      <p>
        Roteiros criativos e estratégicos para o seu material. Indo além de só videos bonitos, para vídeos impactantes, memoráveis e com objetivo definido.
      </p>
      <ul class="servico__topicos">
        <li>Roteiros personalizados</li>
        <li>Cronograma de conteúdo</li>
        <li>Storytelling estratégico</li>
      </ul>
    </div>

    <div class="servico__card">
      <div class="card__box">
      <img class="servico__icon" src="assets/video_icon.png" alt="">
      </div>
      <h3>Captação e Edição</h3>
      <p>
        Captação audovisual prática e eficiente, com entrega de conteúdos de qualidade dentro de curto prazo.
      </p>
      <ul class="servico__topicos">
        <li>Direção de filmagem</li>
        <li>Valorização da sua imagem</li>
        <li>Edição objetiva e envolvente</li>
      </ul>
    </div>

    <div class="servico__card">
      <div class="card__box">
        <img class="servico__icon" src="assets/grafico_icon.png" alt="">
      </div>
      <h3>Análise de Perfil</h3>
      <p>
        Conversas estratégicas para definir objetivos e encontrar soluções para seus possíveis obstáculos.
      </p>

      <ul class="servico__topicos">
        <li>Brainstorming de ideias</li>
        <li>Definição de temas e formatos</li>
        <li>Alinhamento com interesses do público</li>
      </ul>
    </div>
  </div>
</section>
